.Rproj.user
.Rhistory
.RData
.Ruserdata

data and replication files/reports/manuscript_cache/latex/__packages

data and replication files/reports/manuscript_cache/latex/mediation_47549612398580ba861297757b15ea13.RData

data and replication files/reports/manuscript_cache/latex/mediation_47549612398580ba861297757b15ea13.rdb

data and replication files/reports/manuscript_cache/latex/mediation_47549612398580ba861297757b15ea13.rdx

data and replication files/reports/manuscript_files/figure-latex/ate-1.pdf

data and replication files/reports/manuscript_files/figure-latex/ate-1.png

data and replication files/reports/manuscript_files/figure-latex/depStatus-1.pdf

data and replication files/reports/manuscript_files/figure-latex/depStatus-1.png

data and replication files/reports/manuscript_files/figure-latex/mediation-1.pdf

data and replication files/reports/manuscript_files/figure-latex/mediation-1.png
